$color-grey-50: #fafafa;
$color-grey-100: #f5f5f5;
$color-grey-200: #eee;
$color-grey-300: #e0e0e0;
$color-grey-400: #bdbdbd;
$color-grey-500: #9e9e9e;
$color-grey-600: #757575;
$color-grey-700: #616161;
$color-grey-800: #424242;
$color-grey-900: #212121;

$color-bluegrey-50: #eceff1;
$color-bluegrey-100: #cfd8dc;
$color-bluegrey-200: #b0bec5;
$color-bluegrey-300: #90a4ae;
$color-bluegrey-400: #78909c;
$color-bluegrey-500: #607d8b;
$color-bluegrey-600: #546e7a;
$color-bluegrey-700: #455a64;
$color-bluegrey-800: #37474f;
$color-bluegrey-900: #263238;

$color-pink-50: #fce4ec;
$color-pink-100: #f8bbd0;
$color-pink-200: #f48fb1;
$color-pink-300: #f06292;
$color-pink-400: #ec407a;
$color-pink-500: #e91e63;
$color-pink-600: #d81b60;
$color-pink-700: #c2185b;
$color-pink-800: #ad1457;
$color-pink-900: #880e4f;

$color-primary: $color-bluegrey-500;
$color-accent: $color-pink-600;
