// Font size
$font-size-root: 16px;

$font-size-normal: $font-size-root;

// Font weight
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Letter spacing
$letter-spacing-root: 0;

$letter-spacing-normal: $letter-spacing-root;
$letter-spacing-airy: .05em;
$letter-spacing-spacious: .075em;
$letter-spacing-loose: .1em;

// Line height
$line-height-root: 1.4;

$line-height-normal: $line-height-root;
$line-height-airy: 1.5;
$line-height-loose: 1.6;
