<!DOCTYPE html>
<html data-ng-app="scirocco" data-ng-controller="AppCtrl as app" data-ng-cloak>
  <head>
    <meta charset="utf-8">
    <title>scirocco</title>
    <!-- bower:css -->
    <!-- endbower -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>

  <body>

    <md-toolbar class="md-tall" layout="row" layout-align="center center">
      <div class="md-toolbar-tools">
        <h2>
          <span>scirocco</span>
        </h2>
        <span flex></span>
        <md-button class="md-icon-button">
          <md-icon md-font-icon="zmdi zmdi-hc-lg zmdi-hc-fw zmdi-settings"></md-icon>
        </md-button>
        <md-menu md-position-mode="target-right target">
          <md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
            <md-icon md-font-icon="zmdi zmdi-hc-lg zmdi-hc-fw zmdi-more-vert"></md-icon>
          </md-button>
          <md-menu-content>
            <md-menu-item>
              <md-button ng-click="app.quit()">
                <md-icon md-font-icon="zmdi zmdi-hc-lg zmdi-hc-fw zmdi-close"></md-icon>
                Exit
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </div>
    </md-toolbar>

    <!-- bower:js -->
    <!-- endbower -->
    <!-- inject:js -->
    <!-- endinject -->
  </body>
</html>
